body {
    font-family: 'Open Sans', sans-serif;
}

input:-webkit-autofill {
    background-clip: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.social-el {
    width: 48%;
}

.social-el:hover {
    transform: scale(0.95);
}

.input-field {
    transition: all 0.4s ease-in-out;
}

.input-field:focus {
    border-bottom: 2px solid #70a587;
}

.social object {
    margin-right: 10px;
}

#register-btn .circle, #login-btn .circle  {
    position: absolute;
    border-radius: 50%;
    /* To make it round */
    background-color: rgba(255, 255, 255, 0.1);

    width: 100px;
    height: 100px;
    margin-top: -50px;
    /* for positioning */
    margin-left: -50px;

    animation: ripple 1s;
    opacity: 0;
}

/* Add animation */
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}