body {
    background: #feffff;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.hostel-description {
    border-bottom: 1px solid #cacaca;
}

.nav.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 16px;
}

.nav-tabs .nav-item {
    flex: 1 1 auto;
    text-align: center;
}

.nav-tabs .nav-item .nav-link {
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
    color: #6b6b6b;
    background-color: #eeeeee;
    border-radius: 0;
}

.nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background-color: #17535B;
}

.send-feedback-btn {
    background-color: #17535B;
    color: #fff;
}

.slide-indicator {
    color: rgba(255, 255, 255, 0.5) !important;
}

.slide-control, .slide-indicator:hover, .slide-indicator.active {
    color: rgba(255, 255, 255, 1) !important;
}

input {
    
}