html,
body {
    height: 100%;
}

body {
    background: #feffff;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------- 
 * Change Autocomplete styles in Chrome - (_forms.scss)
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #57ca67;
    transition: background-color 5000s ease-in-out 0s;
}

/* HOME */
.parallax {
    /* The image used */
    background-image: url("../images/homepage-images/hero.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hide arrow  */
select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
}

/*for IE10+*/
select::-ms-expand {
    display: none;
}

/* scroll down */
.scroll-icon {
    -webkit-animation: animate-it 3s ease infinite;
    animation: animate-it 3s ease infinite;
}

.options li:hover, .options-district li:hover {
    color: #ff9f47;
}