* {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #feffff;
}

#search-hostel {
    outline: none;
    height: 100%;
    box-shadow: none;
    border-right: none;
}

#search-hostel:focus, #search-hostel:active {
    outline: none !important;
    height: 100%;
    box-shadow: none;
}

#search-btn {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-result-dsc {
    font-weight: 500;
    font-size: 17px;
    color: #597187;
}

.result-number {
    font-weight: 600;
    font-size: 23px;
    color: #40576C;
}
.filter-province,
.filter-district,
.filter-ward {
    width: 160px;
}

.hostel-item {
    transition: transform 0.15s ease-in-out;
}

/*.hostel-item:hover {
    border: 1px solid #288D87;
}*/

.hostel-images:hover~.btn-prev-next {
    display: block;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .5s ease-in-out;
}
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: block;
}

.active.carousel-item-right, .carousel-item-next:not(.carousel-item-left){
    transform: translateX(100%);
}

.active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right){
    transform:translateX(-100%);
}

.btn-prev-next:hover {
    display: block;
}

.btn-prev-next {
    display: none;
}

.carousel-control-prev{
    left:0;
}
.carousel-control-next{
    right:0;
}

.carousel-control-next,.carousel-control-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-item img, img.empty-img {
    height: 230px;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    list-style: none;
}

.carousel-indicators li {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 999px;
    margin: 0 3px;
    padding: 0;
    position: relative;
    display: inline-block;
    opacity:.5;
    transition:opacity .6s ease;
}

.carousel-indicators li.active {
    margin-right: 13px;
    opacity: 1;
}

.carousel-indicators li.active::before {
    width: 15px;
}

.carousel-indicators li::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    border-radius: 999px;
    width: 4px;
    height: 4px;
    content: "";
    color: white;
    background-color: white;
    transition: width 0.2s ease-out;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

#toggle-fav-hostel {
    color: #fff;
    background-color: #cbd5e1;
    transition: all 0.3s ease-out;
}

#toggle-fav-hostel:hover {
    background-color: #B8C3D1;
}

#toggle-fav-hostel.active {
    color: #fff;
    background-color: #288D87;
}

#toggle-fav-hostel.active:hover {
    background-color: #1D837D;
}

#toggle-fav-hostel::before {
    margin-right: 5px;
}

#page_navigation a {
    color: #94a3b8;
    width: 30px;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-out;
}

#page_navigation a.active_page {
    color: #288D87;
    font-weight: 700;
    border: 1px solid #288D87;
    border-radius: 4px;
}

#page_navigation a:hover {
    color: #288D87;
    border: 1px solid #288D87;
    border-radius: 4px;
}

.rating-btn ul {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}