* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.card {
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.08) 0px 1px 2px 0px, rgba(60, 64, 67, 0.03) 0px 2px 6px 2px;
}

.hostel-rating i {
    transform: translateY(-3px);
}

.dropdown-shadow {
    top: 0;
    right: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.breadcrumb {
    margin: 0;
}

.table-paging .current {
    color: #fff;
    background-color: #17535B;
}

.table-paging .current:hover {
    color: #fff;
    background-color: #256f79;
}

[type=search]:focus, [type=search]:active, [type=text]:focus, [type=text]:active, .in-edit, .in-edit:focus, .in-edit:active, #start-date:focus, #start-date:active, #end-date:focus, #end-date:active  {
    outline: none;
    border: none;
    box-shadow: none;
}

#search-invoice-id:focus, #search-invoice-id:active, #start-date:focus, #start-date:active, #end-date:focus, #end-date:active {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #17535B !important;
}

select, select:focus, select:active,
[type=text]:hover,
[type=text]:focus,
[type=text]:active,
.in-edit,
.in-edit:focus,
.in-edit:active {
    border: 1px solid #4B5563 !important;
    outline: none !important;
    box-shadow: none !important;
}

.datepicker-controls button {
    background-color: #fff;
    border-radius: 4px;
    color: #4B5563;
}

.datepicker-controls button:hover {
    background-color: #eaedf1;
    color: #17535B;
}

.datepicker-picker {
    background-color: #fff !important;
    color: #4B5563 !important;
}

.datepicker-cell {
    color: #4B5563 !important;
}

.datepicker-cell.selected {
    background-color: #17535B !important;
    color: #fff !important;
}

.datepicker-cell:hover {
    background-color: #17535B !important;
    color: #fff !important;
}

.datepicker-cell.range {
    background-color: #cdd8da !important;
    color: #17535B !important;
}

.datepicker-cell.range-start,
.datepicker-cell.range-end {
    background-color: #17535B !important;
    color: #fff !important;
}