/* 
    Created on : Jul 9, 2022, 11:12:51 AM
    Author     : Nguyen Dang Loc <locndse160199@fpt.edu.vn>
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.menu-item.active, .menu-item.active svg {
    color: #17535B;
    background-color: #F3F3F3;
}

.parent-active span, .parent-active svg {
    color: #17535B;
}

.card {
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.08) 0px 1px 2px 0px, rgba(60, 64, 67, 0.03) 0px 2px 6px 2px;
}
.breadcrumb {
    margin: 0;
}
.datepicker-controls button {
    background-color: #fff;
    border-radius: 4px;
    color: #4B5563;
}

.datepicker-controls button:hover {
    background-color: #eaedf1;
    color: #17535B;
}

.datepicker-picker {
    background-color: #fff !important;
    color: #4B5563 !important;
}

.datepicker-cell {
    color: #4B5563 !important;
}

.datepicker-cell.selected {
    background-color: #17535B !important;
    color: #fff !important;
}

.datepicker-cell:hover {
    background-color: #17535B !important;
    color: #fff !important;
}

.datepicker-cell.range {
    background-color: #cdd8da !important;
    color: #17535B !important;
}

.datepicker-cell.range-start,
.datepicker-cell.range-end {
    background-color: #17535B !important;
    color: #fff !important;
}

[type=text], select {
    border: 1px solid #94a3b8 !important;
    box-shadow: none !important;
}

[type=text]:focus, [type=text]:active,
select:focus, select:active {
    box-shadow: none !important;
}
