body {
    background: #feffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* ===================== */
/* Profile section  */

.profile-left .card .card-image {
    width: 100%;
    height: 330px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.profile-left .card .card-image .change-img {
    position: absolute;
    top: 0;
    left: 0;
}

.profile-left .card .card-image .change-img input[type="submit"] {
    display: none;
}

.profile-left .card .card-image .change-img input[type="file"] {
    display: none;
}


.profile-left .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-left .addition li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: #17535B;
    font-weight: 600;
    font-size: 15px;
}

.profile-left .addition li .label {
    background-color: #ff653227;
    border: 1px solid #FF6532;
    border-radius: 8px;
    color: #FF6532;
    padding: 3px 8px;

}

.profile-left .addition li .label.inactive {
    background-color: rgba(230, 238, 241, 0.151);
    border: 1px solid #17535B;
    color: #17535B;
}

.info-title {
    font-size: 18px;
    color: #FF6532;
    font-weight: 600;
}

.info-title i {
    margin-right: 8px;
}

.info-detail {
    margin: 10px 0 15px;
    height: 50%;
    width: 100%;
}

.info-detail .detail-item {
    display: flex;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
    color: #2c2c2c;
    padding: 10px 0;
    position: relative;
}

.info-detail .detail-item label {
    width: 25%;
    padding: 5px 0;
}

.info-detail .detail-item p {
    width: 75%;
    background-color: rgba(128, 173, 179, 0.176);
    padding: 5px;
    font-weight: 400;
}

.info-detail .detail-item input {
    width: 75%;
    height: 100%;
    border: 0.2px solid rgba(28, 101, 110, 0.176);
    padding: 5px;
    font-weight: 400;
    outline: none;
}

.info-detail .detail-item input:focus, .info-detail .detail-item input:active  {
    outline: none;
    border: 1px solid #17535B;
}

.info-detail .detail-item .error {
    color: rgb(255, 90, 90);
    background-color: transparent;
    position: absolute;
    font-size: 11px;
    right: 0;
    bottom: -12px;
}