<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.dolphin.hostelmanagement.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDisplayServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.ChangeDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNewPasswordServlet</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.SendNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/CheckUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet-mapping>
        <servlet-name>ChangeDisplayServlet</servlet-name>
        <url-pattern>/ChangeDisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNewPasswordServlet</servlet-name>
        <url-pattern>/SendNewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
