<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.dolphin.hostelmanagement.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.AccountController</servlet-class>
    </servlet>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>AccessController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.AccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostelController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.HostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandlordController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.LandlordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TenantController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.TenantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.ContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>com.dolphin.hostelmanagement.controller.ServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessController</servlet-name>
        <url-pattern>/access/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostelController</servlet-name>
        <url-pattern>/hostel/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/invoice/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandlordController</servlet-name>
        <url-pattern>/landlord/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/room/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TenantController</servlet-name>
        <url-pattern>/tenant/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>  
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractController</servlet-name>
        <url-pattern>/contract/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/view/homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
